@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MovieStore.Core.Entities.Movie
<section>
    <!--Grid row-->
    <div class="row mx-1">

        <!--Grid column-->
        <div class="col-md-4 mb-4">
            <div class="container-fluid" background-image="@Model.BackdropUrl">
                <a>
                    <img src="@Model.PosterUrl" class="img-fluid" alt="@Model.Title" />
                </a>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <h1>@Model.Title</h1>
            <br />
            <a>@Model.Tagline</a>
            <br />
            <a>@Model.Overview</a>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <h4>MOVIE FACTS</h4> 
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="col">ReleaseDate: </th>
                        <th scope="col">@Model.ReleaseDate</th>
                    </tr>
                    <tr>
                        <th scope="col">Run Time: </th>
                        <th scope="col", class="minutes">@Model.RunTime</th>
                    </tr>
                    <tr>
                        <th scope="col">Budget: </th>
                        <th scope="col">@Model.Budget</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <h4>CAST</h4>
            <table class="table">
                <tbody>
                    @foreach (var movie in Model.MovieCasts)
                    {
                    <tr>
                        <th scope="col">@movie.CastId</th>
                        @*<th scope="col">@movie.Cast.Name </th>*@
                        <th scope="col">@movie.Character</th>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Projects section v.4-->
